<!DOCTYPE html>
<html>
<meta name="robots" content="noindex">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<style type="text/css">
    .background {
        background-image: url("{{url_for('static',filename='bg.png')}}");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 100vh;
    }

    .btn-primary, .bg-primary {
        background-color: #007700 !important;
        border-color: #007700 !important;
        text-decoration: none;
    }

    .btn-primary:hover, .btn-primary:focus {
        background-color: #007700 !important;
        border-color: #007700 !important;
        opacity: 0.8 !important;
    }

    .bg-primary:hover, .bg-primary:focus {
        background-color: #007700 !important;
        border-color: #007700 !important;
        opacity: 0.95 !important;
    }

    .boxForm {
        background-color: rgba(50, 50, 50, 0.9);
        border-radius: 16px;
    }

    .btn-primary {
        margin-top: 1vh;
        margin-left: auto;
        margin-right: auto;
    }

    .tr {
        background-color: rgba(150, 150, 150, 0.5);
    }

    .tr:hover, .tr:focus {
        background-color: rgba(150, 150, 150, 1);
    }

    a {
        text-decoration: none !important;
    }
</style>

<body class="background">
<div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}

    {% for message in messages %}
    <div class="alert alert-success mb-0" style="margin-bottom: 0" role="alert">
        {{message}}
    </div>
    {% endfor %}

    {% endif %}
    {% endwith %}

    {% block conteudo %}


    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</div>
</body>

</html>
