{% include "navbar.html" %}
{% extends "base.html" %}

{% block conteudo %}

<div class="bg-dark w-100 text-center">
    <a href="{{url_for('listar_campos_json')}}">Ver JSON</a>
</div>

<br/>

<div class="px-3 py-3 w-100">
    <table class="table table-bordered table-dark">
        <tr class="text-white" style="background-color: rgba(80,80,80,1);">
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Remover</th>
        </tr>
        {% for campo in campos %}
        <tr class="tr">
            <td>{{campo.id}}</td>
            <td>{{campo.nome}}</td>
            <td>{{campo.descricao}}</td>
            <td><a href="{{url_for('remover_campo',id_campo=campo.id)}}">Remover</a></td>
        </tr>
        {% endfor %}

    </table>
</div>

{% endblock %}
