{% include "navbar.html" %}
{% extends "base.html" %}

{% block conteudo %}

<div class="bg-dark w-100 text-center">
    <a href="{{url_for('listar_coletas_json')}}">Ver JSON</a>
</div>

<br/>

<div class="px-3 py-3 w-100">
    <table class="table table-bordered table-dark">
        <tr class="text-white" style="background-color: rgba(80,80,80,1);">
            <th>ID</th>
            <th>Coletor</th>
            <th>Campo</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Peso</th>
            <th>Data Coleta</th>
            <th>Observações</th>
            <th>Remover</th>
        </tr>
        {% for coleta in coletas %}
        <tr class="tr">
            <td>{{coleta.id}}</td>
            <td>{{coleta.coletor.nome}}</td>
            <td>{{coleta.campo.nome}}</td>
            <td>{{coleta.produto.nome}}</td>
            <td>{{coleta.quantidade}}</td>
            <td>{{coleta.peso}}</td>
            <td>{{coleta.data_coleta.strftime('%d/%m/%Y %H:%M')}}</td>
            <td>{{coleta.observacoes}}</td>
            <td><a href="{{url_for('remover_coleta',id_coleta=coleta.id)}}">Remover</a></td>
        </tr>
        {% endfor %}

    </table>
</div>

{% endblock %}
