{% include "navbar.html" %}
{% extends "base.html" %}

{% block conteudo %}

<div class="bg-dark w-100 text-center">
    <a href="{{url_for('listar_coletores_json')}}">Ver JSON</a>
</div>

<br/>

<div class="px-3 py-3 w-100">
    <table class="table table-bordered table-dark">
        <tr class="text-white" style="background-color: rgba(80,80,80,1);">
            <th>ID</th>
            <th>CPF</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>E-mail</th>
            <th>Remover</th>
        </tr>
        {% for coletor in coletores %}
        <tr class="tr">
            <td>{{coletor.id}}</td>
            <td>{{coletor.cpf}}</td>
            <td>{{coletor.nome}}</td>
            <td>{{coletor.sobrenome}}</td>
            <td>{{coletor.email}}</td>
            <td>
                {% if session['usuario']==coletor.id %}
                <a href="{{url_for('remover_coletor',id_coletor=coletor.id)}}">Remover</a>
                {% else %}
                Não é possível remover
                {% endif %}
            </td>
        </tr>
        {% endfor %}

    </table>
</div>

{% endblock %}
