{% include "navbar.html" %}
{% extends "base.html" %}

{% block conteudo %}

<div class="text-white mb-3 w-50 h-auto mx-auto my-5 align-middle p-5 boxForm">
    <div class="align-middle">
        {% from 'bootstrap/form.html' import render_form %}

        {{ render_form(form,action=action,method="post") }}
    </div>
</div>

{% endblock %}
