{% if session.get('autenticado',False)==False %}
{% include "navbarOnlyLogo.html" %}
{% else %}
{% include "navbar.html" %}
{% endif %}

{% extends "base.html" %}

{% block conteudo %}

<div class="text-white mb-3 w-50 h-auto mx-auto my-5 align-middle p-5 boxForm">
    <div class="align-middle">
        {% from 'bootstrap/form.html' import render_form %}

        {{ render_form(form,action=action,method="post") }}
    </div>

    <hr/>
    {% if session.get('autenticado',False)==False %}
    <a href="{{url_for('login')}}" class="btn btn-primary btn-lg mx-auto w-100" role="button" aria-disabled="true">Ir
        para Login</a>
    {% endif %}
</div>

{% endblock %}
