{% extends "base.html" %}
{% include "navbarOnlyLogo.html" %}

{% block conteudo %}
<div class="text-white mb-3 w-50 h-auto mx-auto my-5 align-middle p-5 boxForm">
    <div class="align-middle">
        {% from 'bootstrap/form.html' import render_form %}

        {{ render_form(form,action=action,method="post") }}
    </div>

    <hr/>
    <a href="{{url_for('cadastrar_usuario')}}"
       class="btn btn-primary btn-lg mx-auto w-100 btn-m" role="button" aria-disabled="true"
    >
        Não tenho Cadastro
    </a>
</div>

{% endblock %}
