{% include "navbar.html" %}
{% extends "base.html" %}

{% block conteudo %}


<div class="card-group w-75 mx-auto">
    <div class="card bg-primary text-white text-center p-3 m-3">
        <a href="{{url_for('cadastrar_campo')}}">
            <blockquote class="blockquote mb-0 text-white">
                <p>Cadastrar Campo</p>
            </blockquote>
        </a>
    </div>

    <div class="card bg-primary text-white text-center p-3 m-3">
        <a href="{{url_for('cadastrar_produto')}}">
            <blockquote class="blockquote mb-0 text-white">
                <p>Cadastrar Produto</p>
            </blockquote>
        </a>
    </div>


    <div class="card bg-primary text-white text-center p-3 m-3">
        <a href="{{url_for('cadastrar_coleta')}}">
            <blockquote class="blockquote mb-0 text-white">
                <p>Cadastrar Coleta</p>
            </blockquote>
        </a>
    </div>

</div>

<div class="card-group w-75 mx-auto">

    <div class="card bg-primary text-white text-center p-3 m-3">
        <a href="{{url_for('listar_campos')}}">
            <blockquote class="blockquote mb-0 text-white">
                <p>Listar Campo</p>
            </blockquote>
        </a>
    </div>

    <div class="card bg-primary text-white text-center p-3 m-3">
        <a href="{{url_for('listar_produtos')}}">
            <blockquote class="blockquote mb-0  text-white">
                <p>Listar Produto</p>
            </blockquote>
        </a>
    </div>

    <div class="card bg-primary text-white text-center p-3 m-3">
        <a href="{{url_for('listar_coletas')}}">
            <blockquote class="blockquote mb-0  text-white">
                <p>Listar Coleta</p>
            </blockquote>
        </a>
    </div>

</div>

<div class="card-group w-75 mx-auto">

    <div class="card bg-primary text-white text-center p-3 m-3">
        <a href="{{url_for('cadastrar_usuario')}}">
            <blockquote class="blockquote mb-0 text-white">
                <p>Cadastrar Coletor</p>
            </blockquote>
        </a>
    </div>

    <div class="card bg-primary text-white text-center p-3 m-3">
        <a href="{{url_for('listar_coletores')}}">
            <blockquote class="blockquote mb-0  text-white">
                <p>Listar Coletores</p>
            </blockquote>
        </a>
    </div>

</div>

{% endblock %}
