<nav class="navbar navbar-dark navbar-expand-lg bg-dark px-2" style="background-color: rgba(50,50,50,0.9);">
    <a class="navbar-brand" href="{{url_for('root')}}">
        <img
                class="rounded float-end"
                src="{{url_for('static',filename='logo.png')}}"
                style="margin-left: auto;"
                alt="Logo"
                height="40"
        />
    </a>
    <button
            class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('listar_coletores')}}">Coletores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('listar_campos')}}">Campos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('listar_produtos')}}">Produtos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('listar_coletas')}}">Coletas</a>
            </li>
        </ul>
        <a href="{{url_for('logout')}}" style="margin-left: auto;">
            <img
                    class="rounded float-end"
                    src="https://cdn-icons-png.flaticon.com/512/1828/1828427.png"
                    style="margin-left: auto; filter: invert(1);"
                    alt="Sair"
                    height="30"
            />
        </a>
    </div>
</nav>