<nav class="navbar navbar-dark navbar-expand-lg bg-dark px-2" style="background-color: rgba(50,50,50,0.9);">
    <a class="navbar-brand" href="{{url_for('root')}}">
        <img
                class="rounded float-end"
                src="{{url_for('static',filename='logo.png')}}"
                style="margin-left: auto;"
                alt="Logo"
                height="40"
        />
    </a>
</nav>