{% include "navbar.html" %}
{% extends "base.html" %}

{% block conteudo %}

<div class="bg-dark w-100 text-center">
    <a href="{{url_for('listar_produtos_json')}}">Ver JSON</a>
</div>

<br/>

<div class="px-3 py-3 w-100">
    <table class="table table-bordered table-dark">
        <tr class="text-white" style="background-color: rgba(80,80,80,1);">
            <th>ID</th>
            <th>Nome</th>
            <th>Peso</th>
            <th>Espécie</th>
            <th>Remover</th>
        </tr>
        {% for produto in produtos %}
        <tr class="tr">
            <td>{{produto.id}}</td>
            <td>{{produto.nome}}</td>
            <td>{{produto.peso}}</td>
            <td>{{produto.especie}}</td>
            <td><a href="{{url_for('remover_produto',id_produto=produto.id)}}">Remover</a></td>
        </tr>
        {% endfor %}

    </table>
</div>

{% endblock %}
